.recipe {
  background: bisque;
  height: 350px;
  border-radius: 20px;
  width: 300px;
  position: relative;
  margin-top: 25px;
  padding: 3.2rem;
  border: 2px solid rgb(243, 207, 163);
  transition: 0.5s ease-out;
  overflow: visible;
  text-decoration: none;
}

.recipe_detail {
  color: black;
  margin-top: 2px;
  height: 100%;
  place-content: center;
  
}

.container {
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
}

.recipeImg {
  margin-top: -25px;
  display: flex;
  justify-content: center;
  box-shadow: 2px 3px 5px 1px;
  border-radius: 4px;
  width: 320px;
  height: 200px;
}
a {
 text-decoration: none;
 color: black;
}